<!-- <h1>All the customers data</h1> -->
<div class="col-md-12 addtbl">
	<div class="col-md-4 col-md-offset-4">
		<!-- <form class="form-inline"> -->
			<div class="form-group">
				<label>Name</label>
				<input type="text" placeholder="enter your name" [(ngModel)]="custom.name" class="form-control">
			</div>
			<div class="form-group">
				<label>Mobile No</label>
				<input type="text" placeholder="enter your number" [(ngModel)]="custom.mobile" class="form-control">
			</div>			
			<div class="form-group">
				<label>Address</label>
				<input type="text" placeholder="enter your address" [(ngModel)]="custom.address" class="form-control">
			</div>			
			<button class="btn btn-success" (click)="addCustom()">Add</button>
		<!-- </form> -->
		
	</div>
	<!-- <hr> -->
	<div class="col-md-8 col-md-offset-2 tbl">
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Name</th>
					<th>Mobile-No</th>
					<th>Address</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let customer of allCustomersData">
					<td>{{customer.value.name}}</td>
					<td>{{customer.value.mobile}}</td>
					<td>{{customer.value.address}}</td>
					<td>
						<button class="btn btn-primary" (click) = "editCustomer()" >Edit</button>
						<button class="btn btn-danger" (click)=
						"delcustom(customer.id,customer.value.rev)">Del</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>